$font: "Open Sans", sans-serif;
$color-black: #000000;
$color-dark: #353535;
$color-blue-dark: #001f70;
$color-primary: #49aaf5;
$color-primary-dark: #058ac4;
$color-white: #ffffff;
$color-gray: #9ea0a5;
$color-gray-light: #eaebed;
$color-gray-placeholder: #9ea0a5;
$color-gray-light2: #eaf7ff;
$color-gray-light3: #eaf6ff;
$color-gray-light4: #f5f7f9;
$color-light: #f5fbff;
$color-light2: #f5f5f5;
$color-light3: #f6f8fb;
$color-light4: #fff0d9;
$color-light5: #ffe7e6;
$color-danger: #ff4c4c;
$color-warning: #ff9b00;
$color-warning-dark: #dc911c;
$color-green: #32a300;

$color-text-user-role: #9ea0a5;
