@import "../../app/styles/index.scss";

.returnButton {
  display: inline-flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 8px;
  color: $color-gray;
  background-color: transparent;
  &:hover {
    color: $color-blue-dark;
  }
}
