@import "../../app/index.scss";
.wrapper {
  @extend %wrapper-small;
  p {
    margin-top: 12px;
    text-align: center;
    font-size: 14px;
    line-height: 130%;
    @include ml {
      margin-top: 16px;
      font-size: 20px;
      line-height: 130%;
    }
  }
}

.title {
  @extend %title;
}

.bold {
  font-weight: bold;
}

.infoText {
  margin-top: 100px;
  width: 100%;
}
