@import "../../../app/index.scss";

.wrapper {
  width: 100%;
  height: 100vh;
  padding: 100px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  header {
    width: 100%;
    height: 100px;
  }
  main {
    width: 100%;
    height: 100%;
    @include display-flex-col;
    justify-content: center;
  }
  h2 {
    @extend %title;
    color: $color-dark;
  }
}
.message404 {
  @extend %title;
  padding-bottom: 12px;
}
