@import "../../../app/styles/index.scss";

.wrapper {
  @extend %smallWindow;
  background-color: $color-white;
}
.main {
  @include display-flex-row-centr-centr;
  flex-direction: column;
  width: 100%;
  gap: 32px;
}
h2 {
  @extend %subtitle;
  text-align: center;
}
.linkBtn {
  width: 100%;
  @include display-flex-row-centr-centr;
}
