@import "../../../app/styles/index.scss";
.title {
  color: var(--black-white-black-353535, #353535);

  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}
.roleRow {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
}
.rolItem {
  padding: 10px 12px;
  position: relative;
}

.input {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.label {
  color: var(--black-white-black-353535, #353535);
  font-family: Open Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.label :before,
.active::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 20px;
  height: 20px;
  background-color: rgb(184, 184, 184);
}
.active {
  color: $color-primary;
  border: 1px solid $color-primary;
  margin-left: 0 0 0 26px;
  &::before {
    content: "";
    width: 16px;
    height: 16px;
    background-image: url("../../../shared/assets/check.png");
  }
}
