@import "../../../app/index.scss";
.container {
  position: relative;
  display: flex;

  & .tooltip {
    @include display-flex-row-centr-centr;
    background-color: $color-white;
    border: 1px solid $color-gray-light;
    border-radius: 5px;
    box-shadow: 0 2px 10px 2px rgba(53, 53, 53, 0.2);
    color: $color-dark;
    flex-wrap: wrap;
    gap: 4px;
    min-width: 180px;
    padding: 6px 12px;
    position: absolute;
    right: -14px;
    top: 52px;
    -webkit-user-select: none;
    user-select: none;

    & button {
      @include display-flex-row-centr-centr;
      background: inherit;
      border-top: 1px solid $color-gray-light;
      font-size: 14px;
      font-weight: 600;
      padding-top: 14px;
      padding-bottom: 4px;
      width: 100%;
    }
    & div {
      white-space: nowrap;
      font-size: 14px;
      padding: 8px;
    }
    &::before {
      content: "";
      background-color: $color-white;
      border-left: 1px solid $color-gray-light;
      border-top: 1px solid $color-gray-light;
      height: 16px;
      position: absolute;
      right: 21px;
      top: -8px;
      border-radius: 3px;
      -webkit-transform: rotate(45deg) skew(10deg, 10deg);
      transform: rotate(45deg) skew(16deg, 16deg);
      width: 16px;
      z-index: 1;
    }
  }
}
