@import "../../../app/index.scss";

.pageWrapper {
  background-color: $color-light3;
  padding: 40px 38px 40px 300px;
  min-width: 100%;
  height: fit-content;
  min-height: 100vh;
}

.returnButton {
  display: inline-flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 8px;
  color: $color-gray;
  &:hover {
    color: $color-blue-dark;
  }
}
