@import "../../../app/index.scss";
.inputSearch {
  width: 300px;
  height: 34px;
  display: flex;
  align-items: center;
  padding-left: 44px;
  border: 1px solid $color-gray-light;
  border-radius: 8px;
  background: url("../../assets/search.svg") 12px center no-repeat $color-white;
  outline: none;
  font-size: 14px;
}
