@import "../../../app/index.scss";

.filterBtn {
  height: 30px;
  padding: 0;
  font-size: 12px;
  @include display-flex-row-centr-centr;
  border: 1px solid $color-gray-light;
  color: $color-dark;
  border-radius: 8px;
  background-color: $color-white;

  &.checked {
    border-color: $color-primary;
    color: $color-primary;
    font-weight: 600;
    & span::before {
      content: url(../../assets/icons/check.svg);
      margin-right: 4px;
    }
  }

  & span {
    cursor: pointer;
    @include display-flex-center;
    height: 100%;
    width: 100%;
    padding: 6px 12px;
  }
}
