@import "../../app/index.scss";

.header {
  height: 60px;
  position: fixed;
  z-index: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 40px;
  background-color: $color-white;
  box-shadow: 2px 3px 14px 2px rgba(33, 51, 96, 0.05);
}
