@import "../../../app/styles/index.scss";

.containerActive,
.containerNotactive {
  width: 28px;
  height: 16px;
  flex-shrink: 0;
  border-radius: 14px;
  position: relative;
  background-color: $color-green;
  margin: 0 0 0 8px;
}
.containerNotactive {
  background-color: $color-gray;
}

.togglerActive,
.togglerNotActive {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 2px;
  background-color: $color-white;
  transform: translateY(-50%);
}
.togglerNotActive {
  left: 2px;
}
