@import "../../../app/styles/index.scss";
.userCardBig {
  width: 100%;
  height: 100%;
  padding: 30px;
  background-color: $color-white;
  border-radius: 20px;
  box-shadow: 2px 3px 14px 2px rgba(33, 51, 96, 0.06);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.userPersonInfo {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  row-gap: 16px;
  margin-bottom: 40px;
}
.activeRoleWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.activeStatus {
  * {
    display: inline-block;
    color: #ff4c4c;
  }
  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin: 0 0 8px;
  span {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 4px;
    background-color: #ff4c4c;
  }
}
.active {
  color: #32a300;
  span {
    background-color: #32a300;
  }
}
.userDataInfo {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  column-gap: 50px;
  padding-bottom: 60px;
}
.columnTitle {
  margin: 3px 0 24px;
  @extend %subtitle;
  color: $color-dark;
}
h6 {
  font-size: 14px;
  font-family: $font;
  line-height: 130%;
  margin-bottom: 12px;
}
.columnLeft {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  input {
    width: 100%;
    margin: 4px 0 16px;
    padding: 10px 16px;
    border-radius: 8px;
    border: 2px solid #e8e8e8;
    background: #f5f7f9;
    text-align: left;
    @extend %text;
  }
  label {
    font-size: 12px;
    line-height: 120%;
    color: $color-dark;
    padding: 0;
    margin: 0;
    width: 300px;
  }

  p {
    font-size: 14px;
    font-family: $font;
    line-height: 130%;
  }
}
.columnRight {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}
