@import "../../../app/index.scss";

.checkboxContainer {
  font-size: 12px;
  height: 30px;
  @include display-flex-row-centr-centr;
  border: 1px solid $color-gray-light;
  color: $color-dark;
  border-radius: 8px;
  background-color: $color-white;

  &:has(input:checked) {
    border-color: $color-primary;
    color: $color-primary;
    & label::before {
      content: url(../../assets/icons/check.svg);
      margin-right: 4px;
    }
  }

  & label {
    cursor: pointer;
    @include display-flex-center;
    height: 100%;
    width: 100%;
    padding: 6px 12px;
  }

  & input {
    cursor: pointer;
    opacity: 0;
    position: absolute;
  }
}
