@import "../../app/index.scss";
.pageWrapper {
  width: 100%;
  height: 100vh;
  position: relative;
}
header {
  width: 100%;
  @include display-flex-row-spaseBetween;
  position: fixed;
  height: 100px;
  top: 0;
  border: 1px solid black;
}
.searchRow {
  width: 100%;
  @include display-flex-row-spaseBetween;
  position: fixed;
  height: 100px;
  top: 100px;
  left: 25%;
  border: 1px solid black;
}
.sortingRow {
  width: 80%;
  @include display-flex-row-spaseBetween;
  position: fixed;
  height: 100px;
  top: 200px;
  left: 25%;
  border: 1px solid black;
}
.logoWrapper {
  width: 200px;
}
.adminInfo {
  width: 200px;
  @include display-flex-row-spaseBetween;
  height: 100px;
  position: fixed;
  top: 0;
  right: 0;
}
.adminImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: gray;
}
main {
  width: 100%;
  @include display-flex-row-spaseBetween;
}
aside {
  width: 25%;
  height: 100%;
  position: fixed;
  top: 100px;
  border: 1px solid black;
  ul {
    list-style: none;
    li {
      font-size: 20px;
      padding: 10px;
    }
  }
}
.innerWrapper {
  width: 75%;
  height: 100%;
}
